.container {
    width: 1160px;
    margin: 0 auto;
}

@media(max-width:1200px) {
    .container {
        width: 970px;
    }
}
@media(max-width:992px) {
    .container {
        width: 750px;
    }
}
@media(max-width:768px) {
    .container {
        width: 100%;
    }
}
#header {
    background-color: darkblue;
}

#header a {
    color: #fff;
}
#header .logo {
    width: 7%;
}
img {
    width: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-navigation {
    width: 90%;
}
#main-navigation ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#main-navigation ul li {
    margin: 0px 12px;
}
#main-navigation ul li a {
    text-decoration: none;
}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: transparent;
    border: none;
    display: none;
}
.menu-btn .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 3px;
}
@media(max-width:1200px) {
    #main-navigation ul li {
        margin: 0px 6px;
        font-size: 14px;
    }
}
@media(max-width:992px) {
    #main-navigation ul li {
        margin: 0px 4px;
        font-size: 13px;
    }
}
@media(max-width:768px) {
    #header .logo {
        width: 60px;
    }
    #main-navigation ul {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}