/* Responsive should work well till 320px */

/* Global CSS */
body {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

/* Helper Classes */
.left {
    float: left;
}
.right {
    float: right;
}
.clear::after {
    content: "";
    clear: both;
    display: block;
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}
.row {
    display: flex;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-space-evenly {
    justify-content: space-evenly;
}
.align-items-center {
    align-items: center;
}


.container {
    width: 1160px;
    margin: 0 auto;
}
@media(max-width:1200px) {
    .container {
        width: 980px;
    }
}
@media(max-width:992px) {
    .container {
        width: 760px;
    }
}
@media(max-width:768px) {
    .container {
        width: 100%;
    }
}

/* Common CSS */
.social-links {
    width: 25%;
}
.social-links ul {
    display: flex;
    justify-content: space-between;
}
.social-links .fb .front {
    background-color: #3b5998;
}
.social-links .tw .front {
    background-color: #1da1f2;
}
.social-links .link .front {
    background-color: #bd081c;
}
.social-links .insta .front {
    background-color: #f77737;
}
.social-links ul li .cube {
    position: relative;
    transform-style: preserve-3d;
    transform: rotate3d(0,0,0,0deg);
    transition: 1s;


}
.social-links ul li .front {
    color: #fff;
    padding: 4px 8px;
    font-size: 15px;
    transition: 1s;
    transform-origin: top;
    position: absolute;
}
.social-links ul li .top {
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px 8px;
    font-size: 15px;
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: 1s;
}
.cube:hover{
    transform: rotate3d(1,0,0,90deg)translateZ(15px);
}
/* 
.social-links ul li:hover .top {
    transform: rotateX(0deg);
}
.social-links ul li:hover .front {
    transform: rotateX(-90deg) translateZ(25px);
} */



/* Topbar */
#topbar {
    background-color: #000;
}
#topbar a, #topbar li {
    color: #fff;
}
#topbar i {
    color: #2fdab8;
    margin-right: 10px;
}
#topbar ul {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: space-around;
}
#topbar ul li {
    font-size: 12px;
    padding: 8px 0px;
    width: 25%;
    letter-spacing: 1px;
    border-right: 1px solid lightgray;
    text-align: center;
}
@media(max-width:768px) {
    #topbar ul {
        flex-wrap: wrap;
    }
    #topbar ul li {
        width: 47%;
    }
}

/* Header */
#header {
    padding: 20px 0px 0px;
}
/* Header_top */
#header .header_top .container {
    width: 1300px;
}
#header .search {
    width: 33%;     /* flex-basis: property can also be used instead of width.. because search has display-flex implemented; */
}
#header .search form {
    display: flex;
    justify-content: space-between;
}
#header .search input[type='text'] {
    padding: 12px 8px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    width: 80%;
}
#header .search button {
    background-color: #2fdab8;
    height: 49px;
    border: none;
    color: #fff;
    width: 14%;
    font-size: 20px;
    display: inline-block;
}
#header .logo {
    width: 30%;
    text-align: center;
}
#header .logo a {
    color: #000;
    /* font-size: 100%; */
    font-size: 46px;
    position: relative;
}
#header .logo h1 {
    margin: 0px;
    font-weight: 100;
}
#header .logo a span {
    font-weight: bold;
    background-color: #000;
    color: #fff;
    padding: 5px 20px;
}
#header .logo i {
    position: absolute;
    bottom: -10px;
    right: 10px;
    color: #2fdab8;
    font-size: 16px;
}
#header .header_top {
    margin-bottom: 20px;
}
@media(max-width:1340px) {
    #header .header_top .container {
        width: 1180px;
    }
}
@media(max-width:1200px) {
    #header .header_top .container {
        width: 970px;
    }
    #header .logo a {
        font-size: 30px;
    }
    #header .search button {
        width: 20%;
        margin-left: 5px;
    }
}
@media(max-width:992px) {
    #header .header_top .container {
        width: 95%;
    }
    #header .search button {
        width: 20%;
        margin-left: 5px;
    }
    #header .social-links {
        width: 28%;
    }
}
@media(max-width:768px) {
    #header .header_top .row {
        flex-wrap: wrap;
    }
    #header .search {
        width: 100%;
    }
    #header .logo {
        width: 50%;
        text-align: left;
    }
    #header .logo h1 {
        margin: 18px 0px 0px;
    }
    #header .social-links {
        width: 40%;
        margin-top: 24px;
    }
}
@media(max-width:576px) {
    #header .social-links {
        width: 47%;
    }
}
@media(max-width:480px) {
    #header .logo {
        width: 100%;
        text-align: center;
    }
    #header .social-links {
        width: 70%;
        margin: 30px auto 0;
    }
    #header .social-links ul {
        justify-content: space-evenly;
    }
}

/* Header_bottom */
#header .header_bottom {
    background-color: #000;
}
#header .header_bottom .col-1 {
    width: 75%;
}
#main-nav ul {
    display: flex;
    justify-content: space-between;
}
#main-nav ul li a {
    color: #fff;
    display: block;
    padding: 23px;
    margin-right: 10px;
    letter-spacing: 1px;
}
/* Border-bottom on main-nav ul li a */
#main-nav ul li a {
    position: relative;
}
#main-nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    border-bottom: 6px solid #2fdab8;
    transform: scale(0, 1);
    transition: 0.5s;
    transform-origin: left;
}
#main-nav .home::after {
    transform: scale(1, 1);
}
#main-nav ul li a:hover::after {
    transform: scale(1, 1);
}
/* Dropdown-item */
#main-nav ul li.dropdown-item {
    position: relative;
}
#main-nav ul li.dropdown-item:after {
    content: "";
    position: absolute;
    top: 48%;
    right: 10px;
    border: 5px solid;
    border-color: white transparent transparent;
    cursor: pointer;
}
/* Cart */
#header .header_bottom .col-2 {
    width: 20%;
    background-color: #2FDAB8;
    text-align: center;
    padding-top: 10px;
}
#header .header_bottom .cart a {
    display: inline-block;   /*When giving padding or margin to an inline element, write display:inline-block*/
    background-color:#17c3a2;
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
}
/* Menu Button in main-nav */
#header .header_bottom .container {
    position: relative;
}
#main-nav .menu-btn {
    position: absolute;
    top: 15px;
    left: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    display: none;
    padding: 6px 10px 10px;
}
#main-nav .menu-btn .line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0px 0px;
}

@media(max-width:1200px) {
    #main-nav ul li a {
        padding: 20px;
        font-size: smaller;
        margin-right: 8px;
    }
}
@media(max-width:992px) {
    #main-nav ul li a {
        font-size: smaller;
        padding: 30px 8px;
    }
    #main-nav ul li.dropdown-item:after {
        top: 50%;
        right: 2px;
    }
    #header .header_bottom .cart {
        width: 10%;
        padding: 15px 30px;
    }
}
@media(max-width:768px) {
    #main-nav ul {
        display: none;
    }
    #main-nav .menu-btn {
        display: block;
        text-align: right;
    }
    #header .header_bottom .col-2 {
        margin-right: 30px;
    }
    #header .header_bottom .cart a {
        padding: 5px 15px;
    }
}

/* Border animation */
.border-anim {
    position: relative;
    background-color: #2fdab8;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 2px;
    font-size: 16px;
}
.border-anim::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    border: 4px solid #2fdab8;
    transform: scale(0, 0);
}
.border-anim:hover::after {
    transform: scale(1.05,1.2);
}
@media(max-width:992px) {
    .border-anim {
        width: 15%;
    }
}
@media(max-width:768px) {
    .border-anim {
        width: 13%;
    }
}
@media(max-width:576px) {
    .border-anim {
        width: 16%;
    }
}
@media(max-width:480px) {
    .border-anim {
        width: 25%;
    }
}


/* Overlay */
.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

/* Banner */
#banner {
    width: 100%;
    height: 530px;
    position: relative;
    margin-bottom: 5%;
}
#banner .slider {
    width: 500%;
    height: 100%;
    overflow: hidden;
}
#banner .slide {
    display: inline-block;
    width: 20%;
    height: 100%;
    animation: carousel 10s linear infinite;
    margin: 0px -2px;
    position: relative;
}
@keyframes carousel {
    0%, 15% {
        transform: translateX(0%);
    }
    20%, 35% {
        transform: translateX(-100%);
    }
    40%, 55% {
        transform: translateX(-200%);
    }
    60%, 75% {
        transform: translateX(-300%);
    }
    80%, 100% {
        transform: translateX(-400%);
    }
}
#banner .slide img {
    width: 100%;
    height: 100%;
}
#banner .slide-desc {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    box-shadow: 20px 20px 10px 2px yellow;
}
#banner .slide-desc > * {    /* This means all the immediate sibling tags in class 'slide-desc' */
    width: 100%;
}
#banner .slide-desc h2 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 12px;
    margin-bottom: 20px;
}
#banner .slide-desc span {
    color: #2fdab8;
    font-weight: 700;
}
#banner .slide-desc p {
    color: #ffb900;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 12px;
}
#banner .slide-desc .border-anim {
    width: 10%;
}
/* slide-shadow */
#banner:after, #banner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 14%;
    top: 0px;
}
#banner:before {
    left: 0px;
    /* background: linear-gradient(to left, rgba(0, 0, 0, .0001) 0%, rgba(250, 0, 0, .5) 100%); */
    z-index: 2;
}
#banner:after {
    right: 0px;
    /* background: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(250, 0, 0, .5) 100%); */
}

/* arrows */
#banner .left-arr, #banner .right-arr {
    position: absolute;
    top: 0%;
    width: 15%;
    height: 100%; 
    z-index: 5;
}
#banner .left-arr {
    left: 0%;
}
#banner .left-arr:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, .5) 100%);
}
#banner .right-arr {
    right: 0%;
}
#banner .right-arr:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
}
#banner .left-arr a, #banner .right-arr a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-shadow: 5px 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    color: #fff;
}
/* Slide-indicators */
#banner .slide-indicators {
    position: absolute;
    left: 0%;
    bottom: 8%;
    z-index: 5;
    width: 100%;
    text-align: center;
    list-style: none;
}
#banner .slide-indicators ul li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}
#banner .slide-indicators ul li:hover {
    background-color: #fff;
}
@media(max-width:992px) {
    #banner .slide-desc h2 {
        font-size: 35px;
        letter-spacing: 8px;
    }
    #banner .slide-desc p {
        letter-spacing: 8px;
    }
}
@media(max-width:768px) {
    #banner .slide-desc h2 {
        font-size: 25px;
        letter-spacing: 6px;
    }
    #banner .slide-desc p {
        font-size: 15px;
        letter-spacing: 4px;
    }
    #banner .slide-desc a {
        font-size: 12px;
    }
    #banner .left-arr a, #banner .right-arr a {
        font-size: 25px;
    }
}
@media(max-width:480px) {
    #banner .slide-desc h2 {
        font-size: 20px;
    }
    #banner .slide-desc p {
        letter-spacing: 2px;
    }
}

/* Sections */

.heading {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.heading span {
    font-weight: 300;
}
@media(max-width:768px) {
    .heading {
        font-size: 33px;
    }
}
@media(max-width:576px) {
    .heading {
        font-size: 25px;
    }
}
@media(max-width:480px) {
    .heading {
        font-size: 20px;
    }
}


.translate_col .image:hover img {
    transform: translate(0px);
}
.translate_col .image {
    position: relative;
}

.translate_col .desc {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 96%;
    height: 96%;
    background-color: rgba(0,0,0,0.5);
    border: 10px solid rgba(255,255,255,0.5);
}

.translate_col img {
    width: 110%;
    transition: 0.5s;
    transform: translateX(-30px);
}
.translate_col {
    width: 95%;
    overflow: hidden;
}



/* Section-1 */
#sec1 {
    margin-bottom: 5%;
}
#sec1 .overlay {
    background-color: rgba(0,0,0,0.3);
}
#sec1 .col {
    overflow: hidden;
    width: 47%;
}
#sec1 .col .desc {
    height: 92%;
    width: 96.5%;
}
@media(max-width:992px) {
    #sec1 .row {
        flex-wrap: wrap;
    }
    #sec1 .col {
        width: 90%;
        margin-bottom: 20px;
    }
    #sec1 .col .desc {
        height: 94.5%;
        width: 97%;
    }
}
/* 
@media(max-width:992px) {
    #sec1 .sec1-desc h3 {
        font-size: 25px;
        margin: 50px 50px 10px;
    }
    #sec1 .sec1-desc p {
        margin-right: 40px;
    }
}
@media(max-width:576px) {
    #sec1 .sec1-desc h3 {
        margin: 50px 40px 10px;
    }
}
@media(max-width:480px) {
    #sec1 .sec1-desc h3 {
        font-size: 22px;
        margin: 30px 20px 10px;
    }
    #sec1 .sec1-desc p {
        font-size: 14px;
        margin-right: 20px;
    }
}
*/

/* Section-2 */
#sec2 {
    margin-bottom: 5%;
}
#sec2 .container {
    width: 100%;
    background-color: #2FDAB8;
}
#sec2 .col-1 {
    width: 50%;
}
#sec2 .col-1 img {
    width: 100%;
    height: 100%;
}
#sec2 .col-2 {
    width: 50%;
    /* background-color: #2FDAB8; */
}
#sec2 .col-2 .box {
    margin-top: 13%;
    width: 82%;
    height: 50%;
    background-color: #fff;
    padding: 48px 32px;
    box-shadow: 2px 2px 10px 0px gray;
}
#sec2 .col-2 .box h3 {
    font-size: 25px;
    letter-spacing: 2px;
    margin: 0;
}
#sec2 .col-2 .box h3 span {
    color: #fc636b;
}
#sec2 .col-2 .box p {
    font-size: 15px;
    color: #545454;
    line-height: 30px;
    letter-spacing: 1px;
    padding: 10px 0px 20px;
}
#sec2 .col-2 .box .in-col {
    width: 33.3333333%;
    text-align: center;
    margin-bottom: 50px;
}
#sec2 .col-2 .box .in-col i {
    font-size: 20px;
    color: #2fdab8;
}
#sec2 .col-2 .box .in-col h4 {
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 8px 0px;
    font-weight: 400;
}
#sec2 .col-2 .box .in-col h5 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
@media(max-width:768px) {
    #sec2 .row {
        flex-wrap: wrap;
    }
    #sec2 .col-1, #sec2 .col-2 {
        width: 100%;
    }
}
@media(max-width:576px) {
    #sec2 .col-2 .box {
        height: 55%;
    }
    #sec2 .col-2 .box h3 {
        font-size: 22px;
    }
    #sec2 .col-2 .box .in-col h4 {
        font-size: 14px;
    }
    #sec2 .col-2 .box .in-col h5 {
        font-size: 25px;
    }
}
@media(max-width:480px) {
    #sec2 .col-2 .box {
        height: 65%;
        padding: 36px 32px;
    }
    #sec2 .col-2 .box h3 {
        font-size: 18px;
    }
    #sec2 .col-2 .box p {
        font-size: 13px;
    }
    #sec2 .col-2 .box .in-col {
        margin-bottom: 20px;
    }
    #sec2 .col-2 .box .in-col h4 {
        font-size: 12px;
    }
    #sec2 .col-2 .box .in-col h5 {
        font-size: 18px;
        margin-bottom: 0;
    }
}

/* Section-3 */
#sec3 {
    margin-bottom: 5%;
}
#sec3 .col {
    overflow: hidden;
}
#sec3 .col-1 {
    width: 40%;
}
#sec3 .col-2  {
    width: 57%;
}
#sec3 .row .col-2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-end;
}
#sec3 .row .col-2 .desc {
    width: 97%;
}
#sec3 .row .col-2 .desc {
    height: 92%;
}
@media(max-width:992px) {
    #sec3 .row {
        flex-wrap: wrap;
    }
    #sec3 .col {
        width: 90%;
    }
}

/* Section-4 */
#sec4 {
    margin-bottom: 60px;
}
#sec4 .container {
    width: 100%;
}
#sec4 .col-1, #sec4 .col-2 {
    width: 50%;
    position: relative;
}
#sec4 .row img {
    width: 100%;
    filter: brightness(0.85);
}
#sec4 .row h4 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 8px;
    color: #fff;
}
#sec4 .row h4 span {
    color: #2fdab8;
    font-weight: 700;
    letter-spacing: 10px;
}
@media(max-width:992px) {
    #sec4 .row {
        flex-wrap: wrap;
    }
    #sec4 .col-1, #sec4 .col-2 {
        width: 100%;
    }
}
@media(max-width:576px) {
    #sec4 .row h4 {
        font-size: 28px;
    }
}
@media(max-width:480px) {
    #sec4 .row h4 {
        left: 15%;
        font-size: 20px;
    }
}


/* Section-5 */
#sec5 {
    margin-bottom: 5%;
}
#sec5 .category {
    margin-bottom: 30px;
}
#sec5 .category .row li {
    width: 25%;
    text-align: center;
    padding: 13px 0px;
    /* margin-left: 12px; */
}
#sec5 .category .row li a {
    font-size: 16px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}
#sec5 .category .row .men {
    background-color: #FC636B;
    position: relative;
}
#sec5 .category .row .men::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 48%;
    border: 8px solid;
    border-color: #FC636B transparent transparent;
}
#sec5 .items ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#sec5 .items ul li {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    width: 22%;
    padding-bottom: 40px;
}
#sec5 .items ul li .product {
    position: relative;
}
#sec5 .items ul li .product .img {
    padding: 50px 30px 8px;
    display: block;
}
#sec5 .items ul li .product .img img {
    width: 80%;
    transition: 0.7s;
}
#sec5 .items .quick-view {  
    color: #fff;
    width: 100%;
}
#sec5 .items .quick-view {
    position: absolute;
    bottom: 85%;
    left: 0%;
    width: 100%;
    text-align: center;
    background-color: #000;
    padding: 10px 0px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    opacity: 0;
}
#sec5 .items .quick-view:hover {
    background-color: #2fdab8;
}
#sec5 .items ul .product:hover .quick-view {
    bottom: 0%;
    opacity: 1;
}
#sec5 .items ul .product:hover img {
    transform: rotateY(180deg);
}
#sec5 .items ul .img:hover {
    background-color: rgb(250, 250, 250);
}
#sec5 .items .new {
    position: absolute;
    top: 0%;
    right: 0%;
    color: #fff;
    font-size: 16px;
    padding: 2px 10px;
    background-color: #fc636b;
}
#sec5 .items h4 {
    margin: 0;
    margin-top: 10px;
}
#sec5 .items h4 a {
    color: #fc636b;
    font-weight: 600;
}
#sec5 .items p {
    margin: 10px 0px 20px;
}
#sec5 .items p .price {
    color: #000;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
}
#sec5 .items p del {
    color: #908e8e;
    margin-left: 10px;
    letter-spacing: 1px;
}
#sec5 .items .a-tag-anim {
    margin-bottom: 40px;
}
#sec5 .items .border-anim {
    padding: 8px 16%;
    font-size: 13px;
    text-transform: uppercase;
}
@media(max-width:992px) {
    #sec5 .container {
        width: 100%;
    }
    #sec5 .category .row {
        width: 90%;
        justify-content: space-around;
    }
    #sec5 .category .row li {
        width: 20%;
    }
    #sec5 .items ul li {
        width: 30%;
    }
}
@media(max-width:768px) {
    #sec5 .items ul li .product .img {
        padding: 30px 10px 4px;
    }
    #sec5 .items .border-anim {
        padding: 6px 12%;
    }
}
@media(max-width:576px) {
    #sec5 .category .row li a {
        /* font-size: 12px; */
        letter-spacing: 1px;
    }
    #sec5 .items ul li {
        width: 45%;
    }
}
@media(max-width:480px) {
    #sec5 .items ul li {
        width: 90%;
    }
}

/* Section-6 */
#sec6 {
    margin-bottom: 5%;
    height: 380px;
    background-image: url("https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/banner3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-position: 0px 100px; */
}
#sec6 .container {
    text-align: center;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#sec6 h6 {
    margin-bottom: 5%;
    font-size: 50px;
    color: #fff;
}
#sec6 h6 span {
    color: #000;
}
@media(max-width:992px) {
    #sec6 h6 {
        font-size: 40px;
    }
}
@media(max-width:768px) {
    #sec6 h6 {
        font-size: 30px;
    }
}
@media(max-width:480px) {
    #sec6 h6 {
        font-size: 25px;
    }
}

/* Section-7 */
#sec7 {
    margin-bottom: 5%;
}
#sec7 .container {
    width: 100%;
}
#sec7 .row {
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid red; */
}
#sec7 .col {
    display: flex;
    justify-content: space-around;
    width: 22%;
    /* border: 1px solid blue; */
}
#sec7 .icon {
    position: relative;
    overflow: hidden;
    padding: 30px;
    background-color: #000;

    /* border: 1px solid green; */
    /* width: 25%; */
}
#sec7 i {
    color: #fff;
    /* padding: 30px; */
    /* background-color: #000; */
    /* position: absolute;
    z-index: 3; */
}
/* #sec7 i::before {
    position: absolute;
    z-index: 3;
} */
#sec7 .icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2fdab8;
    transform: scale(0, 0);
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
#sec7 .col:hover .icon::before {
    transform: scale(1, 1);
}
#sec7 .icon-desc {
    width: 70%;
}
#sec7 .icon-desc h6 {
    font-size: 14px;
    margin: 0 0 5px 0;
    color: #2fdab8;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
#sec7 .icon-desc p {
    font-size: 14px;
    color: #545454;
    letter-spacing: 1px;
    line-height: 25px;
}
@media(max-width:1200px) {
    #sec7 .col {
        width: 40%;
    }
}
@media(max-width:768px) {
    #sec7 .col {
        width: 90%;
    }
}

/* Footer */
#footer {
    background-color: #000;
    padding: 4% 0;
}
#footer .container {
    width: 90%;
    margin: 0 auto;
}
#footer .row-1 .col-1{
    width: 25%;
    padding: 0px 15px 30px;
}
#footer .row-1 .col-1 h5 a {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}
#footer .row-1 .col-1 h5 span {
    background-color: #2fdab8;
    padding: 0px 10px;
}
#footer .row-1 .col-1 p {
    color: #908e8e;
    font-size: 15px;
    line-height: 30px;
}
#footer .row-1 .social-links ul li {
    margin-right: 40px;
}
#footer .row-1 .col-2 {
    width: 75%;
    padding: 0px 15px;
}
#footer .row-1 .col-2 .foot-heading {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
#footer .row-1 .col-2 .foot-heading span {
    font-weight: 300;
}
#footer .row-1 .col-2 .col-2-1 {
    width: 33%;
}
#footer .row-1 .col-2 .col-2-1 a {
    color: #908e8e;
    font-size: 15px;
    line-height: 30px;
}
#footer .row-1 .col-2 .col-2-2 {
    width: 41.5%;
}
#footer .row-1 .col-2 .col-2-2 .in-row {
    display: flex;
    padding: 10px;
    background-color: #080808;
    margin-bottom: 2px;
}
#footer .row-1 .col-2 .col-2-2 .in-row i {
    color: #fff;
    margin-right: 20px;
}
#footer .row-1 .col-2 .col-2-2 .in-row h6 {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
#footer .row-1 .col-2 .col-2-2 .in-row p {
    color: #908e8e;
}
#footer .row-1 .col-2 .col-2-2 .in-row span {
    color: #2fdab8;
}
#footer .row-1 .col-2 .col-2-3 {
    width: 25%;
}
#footer .row-1 .col-2 .col-2-3 ul {
    display: flex;
    flex-wrap: wrap;
}
#footer .row-1 .col-2 .col-2-3 ul li {
    width: 25%;
    padding: 5px;
}
#footer .row-1 .col-2 .col-2-3 ul li img {
    width: 100%;
}
#footer .row-2 .col-1, #footer .row-2 .col-2 {
    width: 50%;
    padding: 0px 15px;
}
#footer .row-2 {
    border-top: 1px solid #101010;
    border-bottom: 1px solid #101010;
    padding: 30px 0px;
}
#footer .row-2 .col-1 p {
    color: #fff;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 700;
}
#footer .row-2 .col-2 input[type='email'] {
    width: 74%;
    padding: 10px 14px;
    font-size: 14px;
    letter-spacing: 3px;
    color: #848484;
    background-color: #1f1f1f;
    border: 1px solid #3a3939;
}
#footer .row-2 .col-2 input[type='submit'] {
    /* width: 22%; */
    background-color: #2fdab8;
    padding: 10px 20px 11px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0 0 0 -4px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}
#footer .row-2 .col-2 input[type='submit']:hover {
    background-color: #fff;
    color: #000;
}
#footer .row-3 {
    margin-top: 3%;
    text-align: center;
    padding: 0px 15px;
}
#footer .row-3 p {
    color: #848484;
    letter-spacing: 1px;
    font-size: 14px;
}
#footer .row-3 a {
    color: #fff;
}
@media(max-width:992px) {
    #footer .row {
        flex-wrap: wrap;
    }
    #footer .row-1 .col-1, #footer .row-1 .col-2 {
        width: 100%;
    }
    #footer .row-1 .col-2 .col-2-1, #footer .row-1 .col-2 .col-2-2, #footer .row-1 .col-2 .col-2-3 {
        width: 50%;
    }
    #footer .row-2 .col-1, #footer .row-2 .col-2 {
        width: 100%;
        text-align: center;
    }
    #footer .row-1 .col-2 {
        padding: 20px 15px 0px;
    }
    #footer .row-2 .col-1 p {
        font-size: 20px;
    }
}
@media(max-width:576px) {
    #footer .row-1 .col-2 .col-2-1, #footer .row-1 .col-2 .col-2-2, #footer .row-1 .col-2 .col-2-3 {
        width: 100%;
        margin-top: 20px;
    }
    #footer .row-1 .col-2 .col-2-3 ul li {
        width: 30%;
    }
}
@media(max-width:480px) {
    #footer .container {
        width: 100%;
    }
    #footer .row-1 .social-links {
        margin: 0 auto;
        width: 43%;
    }
    #footer .row-1 .col-2 .col-2-3 ul li {
        width: 17%;
    }
    #footer .row-2 .col-1 p {
        font-size: 15px;
    }
}